*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.imageContainer{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0.50)),url(../images/mainBackground.jpg);
    background-size: cover;
    background-position: center;

}

h1 {
    color: rgb(255, 255, 255);
}

h2 {
    text-align: center;
    color: white;
}

.topNavigationBar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: left;
    justify-content: space-between;
}

.topNavigationBar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.topNavigationBar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.topNavigationBar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.topNavigationBar ul li:hover::after{
    width: 100%;
}


.main{
    background-color: rgba(238, 140, 140, 0.2);
    width: 55%;
    height: 450px;
    margin: auto;
    align-items: center;
    padding: 20px 20px;
    border-radius: 30px;
    
}

.main h2{
    color: #fff;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 150px;
}

.username{
    position:relative;
    left: 10%;
    line-height: 35px;
    border-radius: 20px;
    padding: 0 22px;
    font-size: 15px;
    color: rgb(54, 48, 48);
    cursor: pointer;
    
    
}

.radiobtn{
    position:relative;
    left: 60px;
    line-height: 35px;
    border-radius: 20px;
    padding: 0 22px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.dateinput{
    position:relative;
    left: 80px;
    line-height: 35px;
    border-radius: 20px;
    width: 170px;
    padding: 0 22px;
    font-size: 16px;
    color: rgb(167, 157, 157);
    cursor: pointer;
}

.password{
    position:relative;
    left: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    cursor: pointer;
}

.lastname{
    position: relative;
    margin-left: 100px;
    font-size: 16px;
    color: #f9f9f9;
}



label{
    width: 200px;
    display: inline-block;
    position: relative;
    margin-left: 20px;
    font-size: 14px;
    color: #f9f9f9;
}


.label2{
    position: relative;
    margin-left: 10px;
    font-size: 20px;
    color: #f9f9f9;
}

label3{
    width: 200px;
    display: inline-block;
    position: relative;
    margin-left: 20px;
    font-size: 16px;
    color: #f9f9f9;
}
.fixedlabel{
    width: 105px;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    font-size: 16px;
    color: #f9f9f9;
}


.loginbutton{
    position: relative;
    width: 355px;
    height: 50px;
    padding: 15px 0;
    text-align: center;
    margin: 0 10px;
    margin-top: 60px;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid #8f0d0d;
    background: rgba(0,0,0,0.20);
    cursor: pointer;
    color: #f9f9f9;
    position: relative;
    overflow: hidden;
    font-size: 17px;
    margin-left: 10px;
}

.loginbutton:hover{
    border: 5px solid rgba(238, 140, 140, 0.2);
    background: #850b0b;
}

.loginbutton2{
    position: relative;
    width: 355px;
    height: 50px;
    padding: 15px 0;
    text-align: center;
    margin: 0 10px;
    margin-top: 20px;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid #8f0d0d;
    background: rgba(0,0,0,0.20);
    cursor: pointer;
    color: #f9f9f9;
    position: relative;
    overflow: hidden;
    font-size: 17px;
    margin-left: 10px;
}

.loginbutton2:hover{
    border: 5px solid rgba(238, 140, 140, 0.2);
    background: #850b0b;
}

.div_first{
    position: relative;
    margin-top: 30px;
}

.div1{
    position: relative;
    margin-top: 20px;
}

.div2{
    position: relative;
    margin-top: 20px;
}

.main p{
    position: relative;
    font-size: large;
    font-style: italic;
    color: #fff;
    margin-top: 20px;
}


.district{
    position:relative;
    left: 80px;
    line-height: 50px;
    border-radius: 10px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    cursor: pointer;
    width: 215px;
}


.main2{
    background-color: rgba(238, 140, 140, 0.2);
    width: 1000px;
    height: 597px;
    margin: auto;
    align-items: center;
    padding: 20px 20px;
    border-radius: 30px;
}

.main2 p{
    position: relative;
    left: 10px;
    font-size: large;
    font-style: italic;
    color: #fff;
    margin-top: 20px;
}

.content h3{
    color: #fff;
}

label{
    width: 100px;
    display: inline-block;
    position: relative;
    margin-left: 20px;
    font-size: 16px;
    color: #f9f9f9;
}

.malelabel{
    width: 100px;
    display: inline-block;
    position: relative;
    left: 80px;
    margin-left: 20px;
    font-size: 16px;
    color: #f9f9f9;
}

.femalelabel{
    width: 100px;
    display: inline-block;
    position: relative;
    left: 60px;
    margin-left: 20px;
    font-size: 16px;
    color: #f9f9f9;
}

.check{
    width: 100px;
    display: inline-block;
    position: relative;
    left: 10px;
    margin-left: 20px;
    font-size: 16px;
    color: #f9f9f9;
}

.check2{
    width: 200px;
    display: inline-block;
    position: relative;
    left: 10px;
    margin-left: 20px;
    font-size: 16px;
    color: #f9f9f9;
}